{% load static %}
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{%static 'social/styles.css'%}">
</head>

<body>
<div class="nav">
    <div class="navleft">
        <p><a href="{%url 'rooms'%}">Комнаты</a></p>
        <p><a href="{%url 'accounts'%}">Пользователи</a></p>
    </div>
    <div class="navright">
        {% if user.is_authenticated  %}
            <p>Привет, <a href="{%url 'profile' user.username%}">{{user}}  </a></p>
            <input hidden="hidden" value="{{ user }}" id="username">
            <p>&emsp;<a href="{% url 'account_logout' %}">Выйти</a></p>
        {% else %}
            <p><a href="{% url 'account_login'%}">Войти</a></p>
        {% endif %}
    </div>
</div>
{% block content %}

{% endblock %}

</body>
<script>
    // Timezone settings
    const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"
    document.cookie = "django_timezone=" + timezone;
</script>
{% block script %}

{% endblock %}
</html>
