{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="chatcontainer">
    <div class="listmsgs">
        {% for message in messages %}
            <div class="divmessage">
                <div class="messagetext">
                    <p><b>{{message.sender}}</b>: {{message.text}}</p>
                </div>
                <div class="messagetime">
                    <p>{{message.time|date:"d.m.y G:i" }}</p>
                </div>

            </div>
        {% endfor %}
    </div>
    <div class="sendmsgdiv">
        <form method="" onsubmit="return false;">
            {% csrf_token  %}
            <input id="msgtxt" name="textmsg">
            <button id="btn" type="submit">Отправить</button>
        </form>
    </div>

</div>
<script>
    function addmsg(text, sender, time){
        let msgdiv =  document.createElement('div')
        msgdiv.classList.add('divmessage')
        msgdiv.innerHTML = `<div class="messagetext"><p><b>${sender}</b>: ${text}</p></div>
                            <div class="messagetime"><p>${time}</p></div></div>`
        let messages = document.querySelectorAll('.divmessage')
        let lastdivmsg = messages[messages.length-1]
        lastdivmsg.after(msgdiv)
    }

    function scrolldown(){
        let listmsg = document.querySelector('.listmsgs')
        listmsg.scrollTop=9999
    }
    async function postMsg(txt){
        let msgdata = {
            'text':txt
        }
        let response = await fetch('http://127.0.0.1:8000/api/messages', {
            method:'POST',
            headers:{
                'Content-Type': 'application/json;charset=utf-8',
                'X-CSRFToken': "{{ csrf_token }}"
            },
            body: JSON.stringify(msgdata)
        })
        return response.json()
    }

    btn.addEventListener("click", ()=>{
        addmsg(document.getElementById("msgtxt").value, document.getElementById('username').value, Date.now())
        postMsg(document.getElementById('msgtxt').value)
        document.getElementById('msgtxt').value = ""
        scrolldown()
    });

</script>

{% endblock %}