{% extends 'base.html' %}
{% load static %}

{% block content %}
<form id="form" action="", method="post">
    {% csrf_token%}

    {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p>username пользователя <input id="inputusername" ><button type="button" id="adduserbtn" onclick="" >Добавить</button></p>
    <select id="listofusers" class="createroomselect" multiple="" disabled="true">
        <option value="3">admin</option>
    </select>
    <button type="submit">Создать</button>
</form>
{% endblock %}

{% block script %}
<script>
    async function searchuser(username){
        let slct = document.querySelector('#listofusers')
        user =  await fetch(`http://127.0.0.1:8000/api/searchuser?username=${username}`)
            .then(response=>{
                if (response.status==200){
                    return response.json()
                }
                else {
                    throw new Error('Пользователь не найден')
                }
            })
            .then(data=>{
                document.querySelector('#inputusername').value = ""
                let opt = document.createElement('option')
                opt.value = data['id']
                opt.innerHTML = data['username']
                slct.appendChild(opt)
            })
            .catch(e=> alert(e))
    }
    document.querySelector('#inputusername').addEventListener('keypress', (event)=>{
        if (event.keyCode ==13){
            event.preventDefault();
        }
    })
    document.querySelector('#adduserbtn').addEventListener("click", () => {
        searchuser(document.querySelector('#inputusername').value)
    })


</script>
{% endblock %}
