{% extends 'base.html' %}
{% load static %}

{% block content %}
<form id="form" action="", method="post">
    {% csrf_token%}

    {% if form.non_field_errors %}
        <div class="form-error">{{ form.non_field_errors }}</div>
    {% endif %}

    {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p>username пользователя <input id="inputusername" ><button type="button" id="adduserbtn" onclick="" >Добавить</button></p>
    <p>
        <select name="listuser" id="listofusers" class="createroomselect" multiple>
            <option value="{{user.id}}">{{user.username}}</option>
        </select>
    </p>

    <button type="submit" id="button">Создать</button>
</form>
{% endblock %}

{% block script %}
<script>
    let slct = document.querySelector('#listofusers')
    async function searchuser(username){

        var arr = new Array()
        for (let i=0; i<slct.length; i++){
            arr.push(slct[i].text)
        }
        if (arr.includes(document.querySelector('#inputusername').value)){
            alert('Пользователь уже добавлен')
            return
        }
        user =  await fetch(`http://127.0.0.1:8000/api/searchuser?username=${username}`)
            .then(response=>{
                if (response.status==200){
                    return response.json()
                }
                else {
                    throw new Error('Пользователь не найден')
                }
            })
            .then(data=>{
                document.querySelector('#inputusername').value = ""
                let opt = document.createElement('option')
                opt.value = data['id']
                opt.innerHTML = data['username']
                slct.appendChild(opt)
            })
            .catch(e=> alert(e))
    }
    document.querySelector('#inputusername').addEventListener('keypress', (event)=>{
        if (event.keyCode ==13){
            event.preventDefault();
        }

    })
    document.querySelector('#adduserbtn').addEventListener("click", () => {
        searchuser(document.querySelector('#inputusername').value)

    })
    document.querySelector('#button').addEventListener("click", ()=>{
        for (let i=0; i<slct.length; i++){
            slct[i].selected=true
            console.log(slct[i].selected)
        }
    })



</script>
{% endblock %}
