{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="roomlistcontainer">
    <div class="roomlistdiv">
        <div class="createroomdiv">
            <a href="{% url 'createroom'%}" class="createroomhref">
                <p>Создать комнату</p>
            </a>
        </div>
        <div class="roomslistdiv">
            {% for room in rooms %}
                <p><a href="{{ room.get_absolute_url }}">{{ room.roomname }}</a></p>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}