{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="roomcontainer">
        <div class="roommsgandbutton">
            <div class="lismsgsroom">
                {% for message in messages %}
                    <div class="divmessage">
                        <div class="messagetext">
                            <p><b>{{message.sender}}</b>: {{message.text}}</p>
                        </div>
                        <div class="messagetime">
                            <p>{{message.time|date:"d.m.y H:i" }}</p>
                        </div>

                    </div>
                {% endfor %}
            </div>
            <div class="sendmsdivroom">
                <form method="" onsubmit="return false;">
                    {% csrf_token  %}
                    <input id="msgtxt" name="textmsg" autocomplete="off"  >
                    <button id="btn" type="submit">Отправить</button>
                </form>
            </div>
        </div>

        <div class="userlistinroom">
            {% if user == room.admin %}
                <p>Добавить пользователя</p>
                <input id="adduserinput"><button id="adduserbutton">Добавить</button>
                <br><br>
            {% endif %}


            <p>Админ:</p>
            <p>{{room.admin}}</p>
            <br>

            <p>Пользователи:</p>
            {% for member in room.members.all %}
                {% if not member == room.admin%}
                    <p id="{{ member.username }}">{{member}} {% if user == room.admin %}<a title="Исключить" class="delusericon" onclick="delUser('{{member.username}}')">&emsp; &#10060;</a>{% endif %}</p>
                {% endif %}
            {%endfor%}
        </div>

    </div>

{% endblock %}

{% block script %}
<script>
    function addmsg(text, sender, date=new Date()){
            let time = formatDate(date)
            let msgdiv =  document.createElement('div')
            msgdiv.classList.add('divmessage')
            msgdiv.innerHTML = `<div class="messagetext"><p><b>${sender}</b>: ${text}</p></div>
                                <div class="messagetime"><p>${time}</p></div></div>`
            let listmsgs = document.querySelector('.lismsgsroom')
            listmsgs.append(msgdiv)
        }
    function scrolldown(){
        let listmsg = document.querySelector('.lismsgsroom')
        listmsg.scrollTo(0, listmsg.scrollHeight)
    }
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }
    function formatDate(date){
        let day = date.getDate()
        day = day.toString().length <2? '0'+day: day
        let month = date.getMonth() +1
        month = month.toString().length<2? '0'+month: month
        let year = date.getFullYear()
        year = year.toString().slice(2,4)
        let hours = date.getHours()
        hours = hours.toString().length<2? '0'+hours: hours
        let min = date.getMinutes()
        min = min.toString().length<2? '0'+min: min
        return (`${day}.${month}.${year} ${hours}:${min}`)
    }
    window.onload = ()=>{
        scrolldown()
    }
    ws = new WebSocket('ws://127.0.0.1:8000/ws/chat/{{room.id}}/')
    ws.onmessage = (event) => {
        const data = JSON.parse(event.data)
        if (document.getElementById('username').value!=data['message']['sender']){
            console.log(data)
            addmsg(data['message']['text'], data['message']['sender'])//, data['message']['time'])
        }
        scrolldown()
    }
    btn.addEventListener("click", ()=>{
        addmsg(document.getElementById("msgtxt").value, document.getElementById('username').value)
        let arrpath = window.location.pathname.split('/')
        usernamerec = arrpath[arrpath.length-1]
        ws.send(JSON.stringify({'message':document.getElementById('msgtxt').value}))
        document.getElementById('msgtxt').value = ""
        scrolldown()
    });
    {% if user == room.admin %}
        adduserbutton.addEventListener("click", ()=>{
            addUser()
        })
        async function addUser(){
            const csrftoken = getCookie('csrftoken');
            let msgdata = {
                'username': document.querySelector('#adduserinput').value,
                'roomid':{{room.id}}
            }

            let resp = await fetch('http://127.0.0.1:8000/api/addusertoroom', {
                method:'POST',
                headers:{
                    'Content-Type': 'application/json;charset=utf-8',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(msgdata)
            })
            let data = await resp.json()
            if (resp.status==400) {
                alert(data['error'])
            }
            else if (resp.status==200) {
                let newuser = document.createElement('p')
                newuser.innerText=data['username']
                newuser.id =data['username']
                let icon = document.createElement('a')
                icon.title='Исключить'
                icon.className='delusericon'
                icon.addEventListener("click", ()=>delUser(`${data["username"]}`))
                icon.innerText='  ❌'
                document.querySelector('.userlistinroom').appendChild(newuser)
                newuser.appendChild(icon)
            }
            else{
                alert('Ошибка сервера')
            }
        }

        function delUser(username){
            const csrftoken = getCookie('csrftoken');
            let msgdata = {
                'username': username,
                'roomid':{{room.id}}
            }
            fetch('http://127.0.0.1:8000/api/deluserfromroom', {
                method:'DELETE',
                headers:{
                    'Content-Type': 'application/json;charset=utf-8',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(msgdata)
            }).then(response => {
                if (response.status==500){
                    alert('Ошибка сервера')
                }
                else if (response.status==403){
                    alert('У Вас недостаточно прав')
                }
                else if (response.status=200){
                    document.querySelector(`#${username}`).remove()
                }
            })
        }
    {% endif %}



</script>
{% endblock %}
