{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="userlistcontainer">
    <div class="searchuser">
        <form>
            <label>Поиск</label>
            <input name="username" placeholder="username" {% if usernamesearch %} value="{{usernamesearch}}" {% endif %}>
            <button type="submit">Искать</button>
        </form>
    </div>
    <div class="userlistdiv">

        {% for userprofile in users%}
        <div class="userdiv">
            <div class="userdivimgandname">
                <div class="userdivimg">
                    {% if userprofile.profile.avatar%}
                        <a href="{% url 'profile' userprofile.username%}"><img  src="{{ userprofile.profile.avatar.url}}"></a>
                    {% else %}
                        <a href="{% url 'profile' userprofile.username%}"><img  src="{% static 'social/images/base.png'%}"></a>
                    {% endif %}
                </div>
                <div class="userdivname">
                    <a href="{% url 'profile' userprofile.username%}">{{ userprofile.username }}</a>
                </div>
            </div>
            {% if user != userprofile %}
            <div class="userdivsendmsg">
                <a href="{% url 'usertouserchat' userprofile.username %}">
                    Открыть чат
                </a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% if not usernamesearch and pagelist%}
        <div class="userlistpagin">
            {% for p in pagelist %}
                {% if currentpage == p %}
                    <a class="activepaginator" href="#">{{p}}</a>
                {% else %}
                    {% if p == "…" %}
                        <a class="inactivepaginator" href="#">{{p}}</a>
                    {% else %}
                        <a class="inactivepaginator" href="?page={{p}}">{{p}}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}